<p>Parameter from <strong>Snapshot</strong>: {{car}}</p>
<p>Current URL: {{currentURL}}</p>

<div>
	<a routerLink="/cars/bmw">
		<button class="button">BMW</button>
	</a>

	<a routerLink="/cars/mercedes">
		<button class="button">Mercedes</button>
	</a>

	<a routerLink="/cars/audi">
		<button class="button">Audi</button>
	</a>

	<a routerLink="/cars/dacia">
		<button class="button">Dacia</button>
	</a>
</div>

<p>
	Try accessing different car brands from the buttons provided and look at the
	<strong>URL</strong>.
</p>
<p>You should notice that the URL changes but the param value doesn't.</p>
